/*
  filename: card-header-styles.scss
  author: Anggia Ramadhan (anggia.ramadhan@gmail.com)
  repository: https://github.com/anggiaramadhan/indonesia-platform
*/

@import '~styles/settings.scss';
@import '~styles/layout.scss';

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonWrapper {
  background-color: $white;
}
