/*
  filename: forestry-styles.scss
  author: Anggia Ramadhan (anggia.ramadhan@gmail.com)
  repository: https://github.com/anggiaramadhan/indonesia-platform
*/

@import '../sectoral-circumstances-styles';
