/*
  filename: socioeconomic-styles.scss
  author: Anggia Ramadhan (anggia.ramadhan@gmail.com)
  repository: https://github.com/anggiaramadhan/indonesia-platform
*/

@import '~styles/settings.scss';

.logo {
  width: 136px;
  height: 13px;
}
