/*
  filename: emission-target-chart-styles.scss
  author: Anggia Ramadhan (anggia.ramadhan@gmail.com)
  repository: https://github.com/anggiaramadhan/indonesia-platform
*/

.targetChartTitle {
  text-align: center;
}

.targetChart {
  align-items: center;

  // TODO: customize this in pie chart component
  :global(path.recharts-sector) {
    stroke: none;
  }
}
